<h1>Recipes</h1>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    height: 50px;
  }
</style>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Price</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= recipe.id %></td>
      <td><%= recipe.price %></td>
      <td><%= link_to 'Show', recipe %></td>
      <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>