<!DOCTYPE html>
<html>
  <head>
    <title>Joes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-default" >
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><%= link_to("Joe's Pizza", '/' ) %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to('Cart', '/') %></li>
          <% if customer_signed_in? %>
            <li><a <%= link_to('Logout', destroy_customer_session_path, method: :delete) %></a></li>
          <% else %>
            <li><%= link_to('Login', new_customer_session_path) %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>




</html>
